<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      .mail-header {
        max-width: 500px;
        margin: 0 auto;
      }
      .mail-body {
        background-color: #f5f5f5;
        max-width: 500px;
        margin: 20px auto;
        border-radius: 3px;
      }
      .content-container {
        padding: 30px 20px;
      }
      .mail-footer {
        color: #FFFFFF;
        background-color: #364247;
        max-width: 500px;
        margin: 5px auto;
      }

      .footer-container {
        padding: 20px 20px;
      }
    </style>
  </head>

  <body>
    <div class="mail-header">
      <a class="coursedy-logo"><img src="<%= asset_path('logo_coursedy.png', host: AppSettings.host) %>"/></a>
    </div>
    <div class="mail-body">
      <div class="content-container">
        <%= yield %>
      </div>
    </div>
    <div class="mail-footer">
      <div class="footer-container">
        <span>Copyright © 2018 Coursedy</span>
        <div class="term-and-privacy">
          <div>Quy định</div>
          <div>Chính sách bảo mật</div>
        </div>
      </div>
    </div>
  </body>
</html>
